@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.login-form-container {
  @apply p-6 flex flex-col items-center gap-10 bg-zinc-900 rounded-b-md;
}

.form-container {
  @apply p-6 flex flex-col items-center gap-5;
}

.gold-gradient {
  @apply bg-gradient-to-r from-yellow-600 to-yellow-300 shadow-inner shadow-yellow-800;
  background-size: 200% 200%;
}

.silver-gradient {
  @apply bg-gradient-to-r from-zinc-600 to-zinc-300 shadow-inner shadow-zinc-800;
  background-size: 200% 200%;
}

.bronze-gradient {
  @apply bg-gradient-to-r from-amber-800 to-amber-400 shadow-inner shadow-amber-900;
  background-size: 200% 200%;
}
